*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
}
body{
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-family: "Raleway";
    text-align: center;
    background-color:#ffffff;
}

.body-border-demarcate{
    border-bottom: 15px ridge;
}
.page-footer{
  background-color: #dcdcdc;
}
.footer-base{
    background-color:#c0c0c0;
}
/* Navbar css START
============================================================================================ */
button.btn{
  background-color: #000;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 7.75px 26px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  border-radius: 0%;
}

button.btn-1{
  background-color: #FFF;
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 7px 26px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: -3%;
  border-radius: 3%;
}

.floatingNav {
  transition: all 0.5s;
  box-shadow: -5.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.nav-link{
  font-size: 1rem;
  color: #FFF;
}
/* Navbar css END
============================================================================================ */

/* Search bar START
============================================================================================ */
.search-h{
  min-height: 500px;
}

.higher{
  min-height: 200px;
}
/* Search bar END
============================================================================================ */
/* Body css START
============================================================================================ */
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}
.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

/* Body css END
============================================================================================ */

/* Footer css START
============================================================================================ */
.social-icon{
  margin:20px 10px;
  text-align: center;
}
/* Footer css END
============================================================================================ */
