*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
}
body{
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-family: "SegoeUI";
    text-align: center;
    background-color:#ffffff;
}

.body-border-demarcate{
    border-bottom: 15px ridge;
}
.page-footer{
  background-color: #dcdcdc;
}
.footer-base{
    background-color:#c0c0c0;
}
/* Navbar css START
============================================================================================ */
header{
  font-family: 'SegoeUI', sans-serif;
  font-size: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, .2);
  z-index: 0;
}

/* NAVIGATION BAR 1 STARTS */

header .nav-1{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .nav-1 .logo{
  margin-top: 10px;
  /* border: 1px solid black; */
  text-align: center;
}
.logo{
  text-decoration: none;
  line-height: 55px;
  padding: 0 20px;
  font-weight: 500;
}
header .nav-1 .logo a,header .nav-1 .lists li a{
  color: #000303;
  text-decoration: none;
}
header .nav-1 .lists li,.nav-2 ul li{
  list-style: none;
  display: inline-block;
}
header .nav-1 .lists ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header .nav-1 .lists ul li a{
  display: block;
  margin-top: 25px;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
}
.nav-1 .lists ul li a.active,
.nav-1 .lists ul li a:hover{
  color:black;
  opacity: 1;
}

/* NAVIGATION BAR 1 ENDS */


/* NAVIGATION BAR 2 STARTS */

.nav-2 ul{
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
header .nav-2  ul li {
  flex-shrink: 1;
}
header .nav-2  ul li a{
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-size: 20px;
}

.nav-2 ul li a.active,
.nav-2 ul li a:hover{
  color:black;
  opacity: 1;
  
}
nav.nav-2 ul .about{
  display: none;   
  align-items: center;
}

nav.nav-2 ul li.about img{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}
.pro-pic{
  display: none;
}

/* NAVIGATION BAR 2 ENDS */


/* STICKY IS WORKING..... */
header{
  -webkit-position:sticky;
  position: sticky;
  top: -75px;
}

/* Media queries............ */
@media(max-width:953px){
  header .nav-1{
      width: 90%;
  }
  .nav-2 ul{
      width: 90%;
  }

}
@media(max-width:849px){
  header .nav-1{
      width: 100%;
  }
  .nav-2 ul{
      width: 100%;
  }
  
}
@media(max-width:764px){
  .pro-pic{
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      position: absolute;
      right: 0;
      top:15px;
      border-radius: 50%;
      border: 1px solid black;
  }
  .pro-pic img{
      width: 100%;
  }
  .menu-toggle{
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      margin-top: 25px;
      /* background-color: #ccc; */
      text-align: center;
      font-size: 30px;
      color: #0a0a0a;
      position: absolute;
      z-index: 2;
      transition: 0.8s;
  }

  .menu-toggle a:hover {
      color: #f1f1f1;
  }
  .menu-toggle::before{
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 40px;
      top: 5px;
  }
  .menu-toggle.active{
      left:150px;
  }
  .menu-toggle.active::before{
      content: '\f00d';
      font-family: fontAwesome;
      line-height: 40px;
  }
  .nav-1 .lists{
      display: none;
  }
  header .nav-1{
      justify-content: center;
  }
  header .nav-2 ul{
      flex-direction: column;
  }
  header .nav-2{
      z-index: 1;
      position: absolute;
      top: 0;
      padding-top: 50px;
      background-color: #fff;
      outline-color: white;
      display: none;
  }
  header .nav-2.active{
      display: flex;
  }
  header .nav-2.active li.about{
      display: flex;
  }
  .nav-2 ul li a.active,.nav-2 ul li a:hover{
      border-style:none;
  }
  .nav-2 ul li:hover{
      background-color: rgba(146, 146, 146,0.7);
  }
  header{
      position: sticky;
      top: 0;
  }
  
  
}
/* Navbar css END
============================================================================================ */

/* FONTS START
============================================================================================ */
@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/SegoeUI/SegoeUI.eot'),
       url('../assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
       url('../assets/fonts/SegoeUI/SegoeUI.ttf')  format('truetype'),
       url('../assets/fonts/SegoeUI/SegoeUI.svg') format('svg');
}
@font-face {
  font-family: 'SegoeUISemibold';
  src: url('../assets/fonts/SegoeUI/SegoeUI-Semibold.eot'),
       url('../assets/fonts/SegoeUI/SegoeUI-Semibold.woff') format('woff'),
       url('../assets/fonts/SegoeUI/SegoeUI-Semibold.ttf')  format('truetype'),
       url('../assets/fonts/SegoeUI/SegoeUI-Semibold.svg') format('svg');
}
/* FONTS END
============================================================================================ */


/* Body css START
============================================================================================ */
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}
.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

/* Body css END
============================================================================================ */


/* Footer css START
============================================================================================ */
footer {
	padding-top: 40px;
	padding-left: 65px;
	padding-bottom: 20px;
	padding-right: 65px;
	background-color: #f0eeee;
  font-family: "Segoe UI";
}

.footer-mobile {
	background-image: url('assets/Rectangle_53@2x.png');
}

@media (max-width: 767.98px) {
	footer {
		padding: 0;
	}

	.footer-logo {
		padding-left: 20px;
	}
}

.footer-mobile__wrapper {
	padding-top: 45px;
	padding-bottom: 45px;
	font-family: 'Raleway', sans-serif;
}

.footer-title h3 {
	font-weight: 700;
}

.footer-caption h5 {
	font-weight: 500;
}

.footer-form {
	width: 60%;
}

.footer-form__input {
	border: 2px solid #000000;
	border-radius: 3px;
	margin: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-form__input::placeholder {
	text-align: center;
}

.footer-form__button {
	padding-left: 30px;
	padding-right: 30px;
}

.footer-logo img {
	height: 80px;
	margin-left: -20px;
}

.footer-about {
	font-size: 13px;
	line-height: 1.75rem;
}

.footer-bottom {
	text-align: center;
	padding-top: 10px;
  margin-top : 20px;
}

.footer-list__item a,
.footer-socials a {
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}

.footer-socials a {
	padding: 5px;
}
.footer-socials{
  position:relative;
  left : 40% ;
}
.second-social{
  position : relative;
  left : 80px;
  bottom: 48px;
}
.third-social{
  position:relative;
  left : 160px;
  bottom : 95px;
}
/* Footer css END
============================================================================================ */

/* Header style css ======================================= BEGINS ==================================== */

#empty-space{
  height: 30vh;
}



  .jumbotron{

    background: url(/images/body-bg.jpg);
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }



   #social-button-last{
    display: none;
  }




  .jumbotron{

    background: url(/images/body-bg.jpg);
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }





   #social-button-last{
    display: none;
  }


  @media only screen and (max-width: 450px) {
   #header-t {
   background: url(/images/small-bg.png);
   background-position: center ;
   background-position-y: -260px;
   display: flex;
   background-repeat: no-repeat;
   height: 40vh;
   background-size: 250%;
   max-width: 100%;
   }

  #whole{
    display: none;
  }

  #social-button-last{
    display: block;
  }


  }


  .form-cont .Subscribe{
    width: 50%;
    display: inline-block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-right: 40px;
}
.form-cont .Subscribe p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    width: 380px;

}
.form-cont .Subscribe form input[type="text"]{
    width: 250px;
    padding: 10px;
    color: white;
    background-color: #2b2b2b;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}
.form-cont .Subscribe form input[type="text"]::placeholder{
    color: white;
    font-size: 18px;
    opacity: 0.7;
}
.form-cont .Subscribe form input:focus{
    border: none;
    outline: none;
}
.form-cont .Subscribe form input[type="submit"]{
    width: 130px;
    padding: 10px;
    color: white;
    background-color: #252525;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
    left:-04px
}
.form-cont .login-signup{
    width: 100%;
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.form-cont .login-signup .inner{
    width:100%;
    height: fit-content;
    background-color : rgba(19, 19, 19, 0.5);
    display: flex;
    border: 1px solid white;
    /* align-content: space-around; */
    flex-direction: column;
}
.form-cont .login-signup .inner .option{
    width: 100%;
    display: flex;
}
.form-cont .login-signup .inner .option button{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #000303;
}
.form-cont .login-signup .inner button.line{
    border-right: 2px solid white;
}
.form-cont .login-signup .inner button a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}
.form-cont .login-signup .inner button a.active{
    border-bottom: 2px solid white;
    padding-bottom: 10px;

}
.form-cont .login-signup .inner button:focus{
    border: none;
    outline: none;
}
.form-cont .login-signup .inner form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.form-cont .login-signup .inner form input[type="text"],
.form-cont .login-signup .inner form input[type="password"]{
    width:90%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(1, 1, 1, .2);
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 3px -1px rgba(255,255,255,1);
}
.form-cont .login-signup .inner form input[type="submit"]{
    width:90%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}
.form-cont .login-signup .inner form input:focus{
    border: none;
    outline: none;
}
.form-cont .login-signup .inner form input[type="text"]::placeholder,.cont .login-signup .inner form input[ type="password"]::placeholder{
    color: white;
    font-size: 15px;
    opacity: 0.7;
}
.form-cont .login-signup .inner a{
    width:100%;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.form-cont .login-signup .inner a:hover{
    text-decoration: underline;
}
.form-cont .login-signup .inner .botm-option{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.form-cont .login-signup .inner .botm-option button.line{
    border-right: 2px solid white;
}

.form-cont .login-signup .inner .botm-option a{
    width:100%;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.form-cont .login-signup .inner .botm-option i{
    margin-left: 2px;
    font-size: 15px;
    color: rgb(36, 36, 105);
}
.form-cont .login-signup .inner .botm-option i.mail{
    margin-left: 4px;
    font-size: 15px;
    color: rgb(177, 28, 28);

}
.form-cont .login-signup .inner .botm-option button{
    width:50%;
    padding: 10px;
    border: none;
    background-color: #000303;
}
.abt{
  height:30vw;
  width:20vw;
}
/* Header style css ======================================= ENDS ==================================== */
@media only screen and (max-width: 760px) {
  .abt{
    margin-bottom: 12%;
  }
  .text{
    margin-left: 20px;
  }
  #top{
    margin-top: 50px;
  }
}