*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
}
body{
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-family: "SegoeUI";
    text-align: center;
    background-color:#ffffff;
}

.body-border-demarcate{
    border-bottom: 15px ridge;
}
.page-footer{
  background-color: #dcdcdc;
}
.footer-base{
    background-color:#c0c0c0;
}
/* Navbar css START
============================================================================================ */
.navbar-dark{
  background-color: #a2a8ae;
}

.navbar-space{
  width: 30%;
}

button.btn{
  background-color: #000;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 7.75px 26px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  border-radius: 0%;
}

button.btn-1{
  background-color: #FFF;
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 7px 26px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: -3%;
  border-radius: 3%;
}

.floatingNav {
  transition: all 0.5s;
  box-shadow: -5.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.nav-link{
  font-size: 1rem;
  color: #FFF;
}
/* Navbar css END
============================================================================================ */

/* FONTS START
============================================================================================ */
@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/SegoeUI/SegoeUI.eot');
  src: url('../assets/fonts/Neoteric Bold/NeotericBold?#iefix') format('embedded-opentype'),
       url('../assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
       url('../assets/fonts/SegoeUI/SegoeUI.ttf')  format('truetype'),
       url('../assets/fonts/SegoeUI/SegoeUI.svg') format('svg');
}

/* FONTS END
============================================================================================ */


/* Body css START
============================================================================================ */
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}
.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

/* Body css END
============================================================================================ */


/* Footer css START
============================================================================================ */
footer {
	padding-top: 40px;
	padding-left: 65px;
	padding-bottom: 20px;
	padding-right: 65px;
	background-color: #f0eeee;
}

.footer-mobile {
	background-image: url('assets/Rectangle_53@2x.png');
}

@media (max-width: 767.98px) {
	footer {
		padding: 0;
	}

	.footer-logo {
		padding-left: 20px;
	}
}

.footer-mobile__wrapper {
	padding-top: 45px;
	padding-bottom: 45px;
	font-family: 'Raleway', sans-serif;
}

.footer-title h3 {
	font-weight: 700;
}

.footer-caption h5 {
	font-weight: 500;
}

.footer-form {
	width: 60%;
}

.footer-form__input {
	border: 2px solid #000000;
	border-radius: 3px;
	margin: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-form__input::placeholder {
	text-align: center;
}

.footer-form__button {
	padding-left: 30px;
	padding-right: 30px;
}

.footer-logo img {
	height: 80px;
	margin-left: -20px;
}

.footer-about {
	font-size: 13px;
	line-height: 1.75rem;
}

.footer-bottom {
	text-align: center;
	padding-top: 10px;
}

.footer-list__item a,
.footer-socials a {
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}

.footer-socials a {
	padding: 5px;
}

.second-social{
  position : relative;
  left : 80px;
  bottom: 48px;
}
.third-social{
  position:relative;
  left : 160px;
  bottom : 95px;
}
/* Footer css END
============================================================================================ */




/* Header style css ======================================= BEGINS ==================================== */
/* Media queries for the header and bg section */
#social-button-last{
  display: none;
}

@media only screen and (max-width: 850px) {
  .head_cont {
  background: url(/assets/images/tab.jpg);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
 #header-to-go{
   display: none;
 }
 
 #social-button-last{
   display: block;
 }
 
  
 }  

 

 /*container class prop for header*/

.container-fluid{
  width: 100%;
  height: 500px;
    min-height: 75vh;
}

.head_cont{
    /* The image used */
    background-image: url(/assets/images/web.jpg);
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-header-empty{
  height:20vh;
}

.row-subscribe{
  height: 100%;
}

/*end of container class */
/* subscribe button css */

.row-subscribe .Subscribe p{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 130%;
  width: 100%;

}
.row-subscribe .Subscribe form input[type="text"]{
  
  padding: 3%;
  color: white;
  background-color: #2b2b2b;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

}
.row-subscribe .Subscribe form input[type="text"]::placeholder{
  color: white;
  font-size: 100%;
  opacity: 0.7;
}
.row-subscribe .Subscribe form input:focus{
  border: none;
  outline: none;
}
.row-subscribe .Subscribe form input[type="submit"]{
  
  width: 33%;
  padding: 3%;
  color: white;
  background-color: #252525;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  position: relative;
  left:-04px
}

/* end of subscribe button css */

/* begin login form css */

.row-login .login-signup{
  width: 100%;
  height: 100%;  
  display: flex; 
  justify-content: center;
  align-items: flex-end;
}
.row-login .login-signup .inner{
  width:55%;
  height: fit-content;
  background-color : rgba(19, 19, 19, 0.5);
  display: flex;
  border: 1px solid white;
 align-content: space-around; 
  flex-direction: column;
}
.row-login .login-signup .inner .option{
  width: 100%;
  display: flex;
}
.row-login .login-signup .inner .option button{
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #000303;
}
.row-login .login-signup .inner button.line{
  border-right: 2px solid white;
}
.row-login .login-signup .inner button a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}
.row-login .login-signup .inner button a.active{
  border-bottom: 2px solid white;
  padding-bottom: 10px;

}
.row-login .login-signup .inner button:focus{
  border: none;
  outline: none;
}
.row-login .login-signup .inner form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.row-login .login-signup .inner form input[type="text"],
.row-login .login-signup .inner form input[type="password"]{
  width:90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(1, 1, 1, .2);
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 3px -1px rgba(255,255,255,1);
}
.row-login .login-signup .inner form input[type="submit"]{
  width:90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}
.row-login .login-signup .inner form input:focus{
  border: none;
  outline: none;
}
.row-login .login-signup .inner form input[type="text"]::placeholder,.cont .login-signup .inner form input[ type="password"]::placeholder{
  color: white;
  font-size: 15px;
  opacity: 0.7;
}
.row-login .login-signup .inner a{
  width:100%;
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.row-login .login-signup .inner a:hover{
  text-decoration: underline;
}
.row-login .login-signup .inner .botm-option{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.row-login .login-signup .inner .botm-option button.line{
  border-right: 2px solid white;
}

.row-login .login-signup .inner .botm-option a{
  width:100%;
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.row-login .login-signup .inner .botm-option i{
  margin-left: 2px;
  font-size: 15px;
  color: rgb(36, 36, 105);
}
.row-login .login-signup .inner .botm-option i.mail{
  margin-left: 4px;
  font-size: 15px;
  color: rgb(177, 28, 28);

}
.row-login .login-signup .inner .botm-option button{
  width:50%;
  padding: 10px;
  border: none;
  background-color: #000303;
}
/* end of login form css */