<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('admin-head') %>
    <title>Add Package</title>

</head>
<body>
    
    <%- include('admin-navbar') %>

    <div class="row" style="padding-left: 200px;">
        <div class="col-0 col-md-3"></div>
        <div class="col-auto d-sm-flex align-items-center mb-4 mt-2 ml-4">
            <h3 class="text-dark mb-0 mt-1">New Package Category</h3>
        </div>
    </div>

    <div class="row" style="padding-left: 200px;">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-5 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold m-0">Add Package Category</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="packagecategory" placeholder="Package Category">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>