<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('admin-head') %>
    <title>All Room Type</title>

</head>

<body>
    
    <%- include('admin-navbar') %>

    <div class="row" style="padding-left: 200px;">
        <div class="col-4"></div>
        <div class="col-auto d-sm-flex align-items-center mb-4 mt-2 ml-4">
            <h3 class="text-dark mb-0 mt-1">All Room Type</h3>
        </div>
    </div>

    <div class="row" style="padding-left: 200px;">
        <div class="col-md-2"></div>
        <div class="col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold m-0">Room Type</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Room Type</th>
                                <th>Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1
                                </td>
                                <td><a href="#">Room Type Here</a>
                                </td>
                                <td>12 Nov. 2020</td>
                                <td>
                                    <span class="label"><i class="fa fa-edit"></i></span>
                                </td>
                                <td>
                                    <span class="label"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>2
                                </td>
                                <td><a href="#">Room Type Here</a>
                                </td>
                                <td>12 Nov. 2020</td>
                                <td>
                                    <span class="label"><i class="fa fa-edit"></i></span>
                                </td>
                                <td>
                                    <span class="label"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>3
                                </td>
                                <td><a href="#">Room Type Here</a>
                                </td>
                                <td>12 Nov. 2020</td>
                                <td>
                                    <span class="label"><i class="fa fa-edit"></i></span>
                                </td>
                                <td>
                                    <span class="label"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>4
                                </td>
                                <td><a href="#">Room Type Here</a>
                                </td>
                                <td>12 Nov. 2020</td>
                                <td>
                                    <span class="label"><i class="fa fa-edit"></i></span>
                                </td>
                                <td>
                                    <span class="label"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>5
                                </td>
                                <td><a href="#">Room Type Here</a>
                                </td>
                                <td>12 Nov. 2020</td>
                                <td>
                                    <span class="label"><i class="fa fa-edit"></i></span>
                                </td>
                                <td>
                                    <span class="label"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>