<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('admin-head') %>
    <title>Dashboard</title>

</head>
<body>

    <%- include('admin-navbar') %>

    <table class="table " style="margin-left: 300px;">
        <h3 class="headtext mt-5"> <a href="/user"><i class="arrow fa fa-arrow-left" style="float: left;color: white;"></i></a> All Discounts</h3>
        <thead>
          <tr>
            <th scope="col">USER</th>
            <th scope="col">EVENTS</th>
            <th scope="col">OFFERS</th>
            <th scope="col">DATE</th>
            <th scope="col">COUNTRY</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>+50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>+50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>+50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>+50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"> </th>
            <td>Domestic Help Services</td>
            <td>50%</td>
            <td>17 Nov 2020</td>
            <td>India</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
         
          
          
        </tbody>
      </table>

      
<style>

.table{
            width: 70%;
            margin: auto;
            border: 1px solid black;
            padding: 10px;
            padding-top: 30px;
        }
         .headtext{
            text-align: center;
            color:black;
            background-color: cornflowerblue;
            padding: 10px;
            width: 70%;
            margin-top: 60px;
            margin: auto;
            margin-left: 300px;
        }

    
  body {font-family: "Lato", sans-serif;}
  
  .sidebar{
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 16px;
  }
  
  .sidebar a{
      padding: 10px 8px 10px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
  }
  
  .sidebar a:hover{
      color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  nav li {
      float: right;
  }

  li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  nav li a:hover {
      color: #fff;
      background-color: #111;
      text-decoration: none;
  }

  .arrow{
      font-size: 2.2rem;
  }

  /* drop down link */


</style>

<script>
  $(document).ready(function(){
            $('#show').click(function(){
                $('.subMenu').toggle("slide");
            });
        });

        $(document).ready(function(){
            $('#shows').click(function(){
                $('.subMenus').toggle("slide");
            });
        });

        $(document).ready(function(){
            $('#shows1').click(function(){
                $('.subMenus1').toggle("slide");
            });
        });

          $(document).ready(function(){
            $('#shows2').click(function(){
                $('.subMenus2').toggle("slide");
            });
        });

        $(document).ready(function(){
            $('#shows3').click(function(){
                $('.subMenus3').toggle("slide");
            });
        });
</script>

</body>

</html>
