<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGIXURY</title>
    <%- include('admin-head') %>
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Chart.js Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


</head>
<body>

    <%- include('admin-navbar') %>
    <table class="table " style="margin-left: 300px;">
        <h3 class="headtext mt-5"> <a href="/user"><i class="fa fa-arrow-left" style="float: left; color: black;"></i></a> Package Booking Enquiry</h3>
        <thead>
          <tr>
            <th scope="col">USER</th>
            <th scope="col">PAKAGES</th>
            <th scope="col">PHONE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MESSAGE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          
          <tr>
            <th scope="row"><img src="https://cdn.pixabay.com/photo/2017/06/17/18/35/background-2413081__480.jpg" style="height: 30px; width: 30px; border-radius: 50%;"></th>
            <td>Domestic Help</td>
            <td>6786284646</td>
            <td>@mdo</td>
            <td>Lorem Ipsum</td>
          </tr>
          
        </tbody>
      </table>

      
<style>

.table{
            width: 70%;
            margin: auto;
            border: 1px solid black;
            padding: 10px;
            padding-top: 30px;
        }
         .headtext{
            text-align: center;
            color:black;
            background-color: cornflowerblue;
            padding: 10px;
            width: 70%;
            margin-top: 60px;
            margin: auto;
            margin-left: 300px;
        }

    
  body {font-family: "Lato", sans-serif;}
  
  .sidebar{
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 16px;
  }
  
  .sidebar a{
      padding: 10px 8px 10px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
  }
  
  .sidebar a:hover{
      color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  nav li {
      float: right;
  }

  li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  nav li a:hover {
      color: #fff;
      background-color: #111;
      text-decoration: none;
  }

  /* drop down link */


</style>



</body>

</html>
