<!-- Footer -->
<footer class="page-footer stylish-color-dark pt-4">
    <div class="footer-mobile d-block d-md-none d-lg-none">
        <div class="footer-mobile__wrapper d-flex flex-column justify-content-center align-items-center">
            <div class="footer-title">
                <h3>JOIN OUR NEWSLETTER</h3>
            </div>
            <div class="footer-caption">
                <h5>To receive our best deals</h5>
            </div>
            <div class="footer-form">
                <form submit="#">
                    <div class="d-flex flex-column align-items-center form-group">
                        <input class="footer-form__input" type="text" placeholder="Please enter your Email">
                        <button class="footer-form__button btn btn-dark" type="submit">SUBSCRIBE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-top d-none d-md-block">
        <div class="container">
            <div class="footer-logo">
                <a href="#">
                    <img src="images/black_wt.png" />
                </a>
            </div>
        </div>
    </div>

    <div class="footer-main d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-7 col-lg-5 footer-list">
                            <p class="footer-list__item"><a href="/about">About Us</a></p>
                            <p class="footer-list__item"><a href="#">Blogs</a></p>
                            <p class="footer-list__item"><a href="/contact">Contact Us</a></p>
                            <p class="footer-list__item"><a href="/terms">Terms & Conditions</a></p>
                            <p class="footer-list__item"><a href="/partner">Partner With Us</a></p>
                        </div>
                        <div class="col-md-5 col-lg-7 footer-list">
                            <p class="footer-list__item"><a href="/giftcards">Gift Cards</a></p>
                            <p class="footer-list__item"><a href="/faq">FAQ</a></p>
                            <p class="footer-list__item"><a href="/refer">Refer</a></p>
                            <p class="footer-list__item"><a href="/refund">Refund Policy</a></p>
                            <p class="footer-list__item"><a href="/career">Careers</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 footer-about">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                        using
                        "Content here, content here", making it look like readable English. Many desktop publishing packages and web page
                        editors
                        now use web sites still in their infancy.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="d-none d-md-block">
            <div class="footer-socials">
                <a href="http://www.facebook.com/profile.php?id=">
                    <img src="images/facebook_smaller.svg" />
                </a>
                <a href="http://www.linkedin.com/in/">
                    <img src="images/instagram_smaller.svg" />
                </a>
                <a href="http://www.linkedin.com/in/">
                    <img src="images/linkedin_smaller.svg" />
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->


<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $('html').css('overflow-x', 'initial');
    $(window).scroll(function () {
        if ($(window).scrollTop() > 10) {
            $('#navbar-top').addClass('floatingNav');
            $('#navbar-bottom').addClass('floatingNav');
        } else {
            $('#navbar-top').removeClass('floatingNav');
            $('#navbar-bottom').removeClass('floatingNav');
        }
    });
    let toggler = document.querySelector(".menu-toggle");
    let nav = document.querySelector(".nav-2");
    let bottom_nav_iteam = document.querySelectorAll(".about");

    // ASINGN EVENTS
    toggler.addEventListener("click", do_task);

    // FUNCTION
    function do_task() {
        toggler.classList.toggle("active");
        nav.classList.toggle("active");
    }
</script>
<script>
    $('html').css('overflow-x', 'initial');
    $(window).scroll(function () {
        if ($(window).scrollTop() > 10) {
            $('#navbar-top').addClass('floatingNav');
            $('#navbar-bottom').addClass('floatingNav');
        } else {
            $('#navbar-top').removeClass('floatingNav');
            $('#navbar-bottom').removeClass('floatingNav');
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowHide").click(function () {
            $("#advance-search").toggle();
        });
    });
    $('#btnShowHide').click(function (e) {
        e.preventDefault();
        // Code goes here
    });
</script>
