<!--Nav bar start-->
<header class="navbar-container">
    <div class="menu-toggle"></div>
    <div class="pro-pic">
        <img src="images/demo.png" alt="">
    </div>
    <nav class="nav-1">
        <div class="logo">
           <a href="/"><img src="images/logo.png" width="160" height="28" alt="Agixury logo" class="d-inline-block align-top logo-img"></a>
        </div>
        <div class="lists">
            <ul id="top">
                <li><a href="tel : 9999999999">+91-7000497089</a></li>
                <li><a id="nb" href="/">HOME</a></li>
                <li><a id = "nb" href="/contact">CONTACT</a></li>
                <li><a id = "nb" href="/about">ABOUT</a></li>
                <li><a class = "nb" id="loginButton" href="#">LOGIN/SIGN-UP</a></li>
                <li><a class = "nb" href="/user">Admin</a></li>
            </ul>
        </div>
    </nav>
    <nav class="nav-2">
        <ul>
            <li class="about sidebar-avatar">
               
                <a href="#">LOGIN</a>
            </li>
            <li><a class="active" href="/#hotels">HOTELS</a></li>
            <li><a href="/tours">TOURS</a></li>
            <li><a href="/giftcards">GIFT CARDS</a></li>
            <li><a href="/blogs">BLOGS</a></li>
            <li><a href="/partner">PARTNER WITH US</a></li>
            <li class="about"><a href="/contact">CONTACT</a></li>
            <li class="about"><a href="/about">ABOUT</a></li>
            <li class="about"><a href="#">THEME</a></li>
            <li><a class="lastelement" id="logoutButton" href="#"></a></li>
        </ul>
    </nav>
</header>
<!--End of Navbar-->
<link rel="stylesheet" href="style.css">
