<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add New Blog</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Chart.js Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


</head>
<body>

  <nav>
    <ul style="padding-left: 180px;">
        <li style="padding-right: 10px;"><a href="#">Username</a></li>
    </ul>
</nav>

<div class="sidebar">
    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> User</a>
    <a href="#"><i class="fa fa-fw fa-chart-area"></i> Analytics</a>
    <div id="show"><a href="#"><i class="fa fa-fw fa-plane"></i> Tour Packages</a></div>
    <div class="subMenu" style="display: none;">
        <a href="/admin/all-packages" style="font-size: medium; text-indent: 5px;">All Packages</a>
        <a href="#" style="font-size: medium; text-indent: 5px;">Add Packages</a>
        <a href="#" style="font-size: medium; text-indent: 5px;">All Package Category</a>
        <a href="#" style="font-size: medium; text-indent: 5px;">Add Package Category</a>
    </div>
    <div id="shows"><a href="#"><i class='fab fa-blogger-b'></i> Blogs &nbsp <i class="fa fa-angle-down"></i></a></div>
    <div class="subMenus" style="display: none;">
        <a href="/allblog" style="font-size: medium; text-indent: 5px;">All Blogs</a>
        <a href="/newblog" style="font-size: medium; text-indent: 5px;">Add Blog</a>
    </div>
    <a href="#"><i class="fa fa-fw fa-building"></i> Hotels</a>
    <a href="#"><i class="fa fa-fw fa-calendar"></i> Calendar</a>
    <a href="#"><i class="fa fa-fw fa-cogs"></i> Settings</a>
</div>

    <table class="table " style="margin-left: 300px;">
        <h3 class="headtext mt-5"> <a href="/admin"><i class="fa fa-arrow-left" style="float: left; color: black;"></i></a> All Blog Post</h3>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Categories</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class='fas fa-edit'></i></td>
            <td><i class='fas fa-trash-alt'></i></td>
          </tr>
          
        </tbody>
      </table>

      
<style>

.table{
            width: 70%;
            margin: auto;
            border: 1px solid black;
            padding: 10px;
            padding-top: 30px;
        }
         .headtext{
            text-align: center;
            color:black;
            background-color: cornflowerblue;
            padding: 10px;
            width: 70%;
            margin-top: 60px;
            margin: auto;
            margin-left: 300px;
        }

    
  body {font-family: "Lato", sans-serif;}
  
  .sidebar{
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 16px;
  }
  
  .sidebar a{
      padding: 10px 8px 10px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
  }
  
  .sidebar a:hover{
      color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  nav li {
      float: right;
  }

  li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  nav li a:hover {
      color: #fff;
      background-color: #111;
      text-decoration: none;
  }

  /* drop down link */


</style>

<script>
  $(document).ready(function(){
        $('#shows').click(function(){
            $('.subMenus').toggle("slide");
        });
    });
</script>

</body>

</html>
