<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <section id="projects">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div style="margin-top: 70px; margin-bottom: 70px;" class="welcome row justify-content-center">
                    <h1 style="font-family: 'Raleway', sans-serif;">Welcome to Agixury</h1>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10%;" class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 img justify-content-center">
                    <img class="img-fluid" src="images\pexels-pixabay-164287.png" id="arty-img">
                </div>
                <div class="col-md-6">
                    <div class="row justify-content-start">
                        <p id="top" class="text" style="text-align:left; font-family: SegoeUI; font-size: 21px; margin-bottom: 25px;">We are India’s
                            biggest and fastest growing website; we are
                            the first and one and only website in India that offers
                            luxury 4-star and 5-star travel deals at low prices ever seen
                            in the market.</p>
                        <p class="text bottom1" style="text-align:left; font-family: SegoeUISemibold; font-size: 21px;margin-bottom: 25px;">
                            <strong>Why give up on your travel plans just because of
                                last-minute hotel cancellations?, Why postpone
                                your favourite vacation which you have been
                                dreaming about for years just because of your
                                budget?</strong></p>
                        <p class="text bottom2" style="text-align:left;  font-family: SegoeUI; font-size: 21px;margin-bottom: 25px;">At AGIXURY you
                            can travel anywhere and anytime,
                            comfortably, cheaply, and safely! From the best swimming
                            pools to gyms, cuisine to the spa, our hotels have
                            everything covered. Our hotels are one of the best in the
                            locality and are ready to offer you the complete travel
                            package. So, wait no more! Pack your bags, start traveling,
                            and allow us to re-define luxury for you. Indulge in the
                            world of luxury with Agixury, VIP inclusions are also
                            available. So, let's get Agixurified!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>

</body>

</html>