<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('admin-head') %>
    <title>All Packages</title>

</head>

<body>
    
    <%- include('admin-navbar') %>

    <div class="row" style="padding-left: 200px;">

        <div class="d-sm-flex justify-content-between align-items-center mb-4 mt-2 ml-4">
            <h3 class="text-dark mb-0 mt-1">All Packages</h3>
        </div>

        <div class="col-md-11 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold m-0">Package Details</h6>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Package</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="list-img"><img src="" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Domestic Help Service</span></a>
                                    </td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>India</td>
                                    <td>
                                        <span class="label"><i class="fa fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-edit"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Domestic Help Service</span></a>
                                    </td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>India</td>
                                    <td>
                                        <span class="label"><i class="fa fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-edit"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Domestic Help Service</span></a>
                                    </td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>India</td>
                                    <td>
                                        <span class="label"><i class="fa fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-edit"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Domestic Help Service</span></a>
                                    </td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>India</td>
                                    <td>
                                        <span class="label"><i class="fa fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-edit"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="" alt=""></span>
                                    </td>
                                    <td><a href="#"><span class="list-enq-name">Domestic Help Service</span></a>
                                    </td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>India</td>
                                    <td>
                                        <span class="label"><i class="fa fa-eye"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-edit"></i></span>
                                    </td>
                                    <td>
                                        <span class="label"><i class="fa fa-trash"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>