<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/blog.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery and JS bundle w/ Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <%- include('partials/header-navbar.ejs') %>
    <div class="title">
        <h1>TRAVEL BLOG</h1>
  </div>


   

    <div class="container-fluid newblog mt-5 pt-4">
  	
        <div class="row col-lg-12">
            <div class="col-10 col-md-5 col-lg-8 mx-auto text1">
                <h4 class="heading">TRAVEL TIPS</h4> 
  
                <h2>Epic Sea View of Santorini, Greece</h2>
  
                <p>MAY 15, 2016  3 COMMENTS</p>
               
               <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" class="img-fluid" alt="Responsive image">
            
               <div class="row col-lg-12 icon pt-4" >
             	  
                <div class="col-lg-2" >
                     
                      <p>SHARE</p>
                         <a href="#"><i class="fa fa-instagram"></i></a></i>
                         <a href="#"><i class="fa fa-facebook"></i></a></i>
                         <a href="#"><i class="fa fa-twitter"></i></a></i>
                         <a href="#"><i class="fa fa-facebook"></i></a></i>

               </div>

                <div class="col-lg-10" >
                    <p style="text-align: left;" >More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously outside crud mightily rigorous negative one inside gorilla and drew humbly shot tortoise inside opaquely. Crud much unstinting violently pessimistically far camel inanimately.
                 <br>   <br> 
                  Coquettish darn pernicious foresaw therefore much amongst lingeringly shed much due antagonistically alongside so then more and about turgid wrote so stunningly this that much slew.
                   <br>   <br> 
                That far ground rat pure from newt far panther crane lorikeet overlay alas cobra across much gosh less goldfinch ruthlessly alas examined and that more and the ouch jeez.</p>

                      </div>
                      </div>

                      <h3 style="margin-top: 25px;">Amazing Travel Tips</h3>
                     
                      <p style="text-align: left;">Forbade panther desolately iguanodon alas in goodness goodness re-laid when wishful but yet and trim hey went the tamarin some during obsessively into far notwithstanding.</p>
 
 
                      <div class="row">
                           
                           <div class="col-lg-6">
                                 <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/photo-1462798209360-48743134a7c9-370x285.jpg" class="img-fluid" alt="Responsive image" style="width: 100%; height: 250px;">
                           </div>
                            <div class="col-lg-6 mx-r">
                                <pstyle="text-align: left;">More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously outside crud mightily rigorous negative one inside gorilla and drew humbly shot tortoise inside opaquely. Crud much unstinting violently pessimistically far camel inanimately then more and about.
                             </p>
                           </div>
 
                      </div>
                      <p style="text-align: left;">Stumptown bespoke, biodiesel minim beard High Life incididunt retro sustainable 90′s Echo Park Tumblr. That far ground rat pure from newt far panther crane lorikeet overlay alas cobra across. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.</p>
                  
                      <div class="row">
                     	 
                     	  <div class="col-lg-6 mx-r">
                     	  	<p style="text-align: left;">More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously outside crud mightily rigorous negative one inside gorilla and drew humbly shot tortoise inside opaquely. Crud much unstinting violently pessimistically far camel inanimately then more and about.
                            </p>
                     	 </div>

                     	  <div class="col-lg-6">
                     	 	  <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/photo-1462798209360-48743134a7c9-370x285.jpg" class="img-fluid" alt="Responsive image" style="width: 100%; height: 250px;">
                     	 </div>

                     </div>
                     
                     <p style="text-align: left;">Like less whale into ripely echidna ape oh regarding toucan the some reset much pill one and less in fought beside bestial out reran wetted grimaced within woolly some salmon the a kangaroo led. Immoral surprisingly ladybug far thanks physic pill much insincere festive. Quizzically pinched excluding timorous poured slovene less rooster much.</p>
                     
                     <h3>Planning Your Vacation</h3>

                     <p style="text-align: left;">More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously outside crud mightily rigorous negative one inside gorilla and drew humbly shot tortoise inside opaquely. Crud much unstinting violently pessimistically far camel inanimately then more and about.
                     <br> <br>
                     Crud much unstinting violently pessimistically far camel inanimately a remade dove disagreed hellish one concisely before with this erotic frivolous.
                      <br><br>
                     Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth.</p>

                     <div class="col-lg-12">
                        <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" class="img-fluid" alt="Responsive image" style="width: 100%; height: 400px;">
                        </div>
                        <br>
                           
                           <p style="text-align: left;">Panther desolately iguanodon alas in goodness goodness re-laid when wishful but yet and trim hey went the tamarin some during obsessively into far notwithstanding aristocratic a ouch jeez goodness chameleon because piranha. More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously.
                               <br><br>
                            Forbade panther desolately iguanodon alas in goodness goodness re-laid when wishful but yet and trim hey went the tamarin some during obsessively into far notwithstanding then more.
                                <br><br>
                            Crud much unstinting violently pessimistically far camel inanimately a remade dove disagreed hellish one concisely before with this erotic frivolous.</p>

                        
                   
 </div>


           
  
  
  
            <div class="col-10 col-md-5 col-lg-3 mx-auto part">
                <h4 class="heading1">ABOUT</h4>
  
                 <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/about.jpg" class="img-fluid" alt="Responsive image">
               <p>I'm Shane, a girly girl and lover of life. Join me on the journey to find latest in fashion.</p>
  
               <div><button class="btns mx-auto mt-2">READ MORE</button> </div>
               
               <h4 class="heading1 mt-5 pt-3">ABOUT</h4>
                
                <div class="col-lg-12">
                <img class="pic"  src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-1.jpg" class="img-fluid" alt="Responsive image">
                 <div class="centered"><a href= "" target = "_blank" style="text-decoration: none;">PARIS</a></div>
             </div>
  
                  <div class="col-lg-12">
                 <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-2.jpg" class="img-fluid" alt="Responsive image">
                  <div class="centered"><a href= "" target = "_blank" style="text-decoration: none;">LONDON</a></div>
              </div>
  
                  <div class="col-lg-12">
                  <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image">
                   <div class="centered"><a href= "" target = "_blank" style="text-decoration: none;">SAN FRANSISCO</a></div>
               </div>
                 
  
                 <div class="social mx-auto " style="text-align: center;">
                         <a href="#"><i class="fa fa-instagram"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-pinterest"></i></a>
                          <a href="#"><i class="fa fa-google"></i></a>
                 </div>
  
                     <h4 class="heading1" style="margin-top: 60px;">LATEST POSTS</h4>
  
                     <div class="row">
  
                         <div class="col-lg-6">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 120px; width: 120px;">
                         </div>
                         <div class="col-lg-6">
                             <p style="text-align: center; font-size: 14px; margin-top: 10px;">Epic Sea View of Santorini, Greece<br>MAY 15, 2016</p>	
                         </div>
                         
                     </div>
  
                         <div class="row">
  
                         <div class="col-lg-6">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 120px; width: 120px;">
                         </div>
                         <div class="col-lg-6">
                             <p style="text-align: center; font-size: 14px; margin-top: 10px;">How to Get The Most Out of Your London Trip<br>MAY 15, 2016</p>	
                         </div>
                         
                     </div>
  
                         <div class="row">
  
                         <div class="col-lg-6">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 120px; width: 120px;">
                         </div>
                         <div class="col-lg-6">
                             <p style="text-align: center; font-size: 14px; margin-top: 10px;">A Calm Comes Over The Lake This Month<br>MAY 15, 2016</p>	
                         </div>
                         
                     </div>
  
  
                         <div class="row">
  
                         <div class="col-lg-6">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 120px; width: 120px;">
                         </div>
                         <div class="col-lg-6">
                             <p style="text-align: center; font-size: 14px; margin-top: 10px;">A Calm Comes Over The Lake This Month<br>MAY 15, 2016</p>	
                         </div>
                         
                     </div>
  
                         <h4 class="heading1" style="margin-top: 60px;">INSTAGRAM</h4>
  
  
                         <div class="row">
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>	
                         
                     </div>
  
                     <div class="row">
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>	
                         
                     </div>
  
                     <div class="row">
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>
  
                         <div class="col-lg-5">
                             <img class="pic" src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/09/promo-box-3.jpg" class="img-fluid" alt="Responsive image" style="height: 140px; width: 120px;">
                         </div>	
                         
                     </div>
  
                     <h4 class="heading1" style="margin-top: 60px;" >CATEGORIES</h4>
  
  
                     <div style="margin-top: 20px; display: flex; justify-content: space-between; border-bottom: 1px solid rgb(1,1,1,0.2);">
                         <p>America</p>
                         <p>(8)</p>
                     </div>
                          <div style="margin-top: 20px; display: flex; justify-content: space-between; border-bottom: 1px solid rgb(1,1,1,0.2);">
                         <p>Destinations</p>
                         <p>(9)</p>
                     </div>
                          <div style="margin-top: 20px; display: flex; justify-content: space-between; border-bottom: 1px solid rgb(1,1,1,0.2);">
                         <p>Europe</p>
                         <p>(8)</p>
                     </div>
                          <div style="margin-top: 20px; display: flex; justify-content: space-between; border-bottom: 1px solid rgb(1,1,1,0.2);">
                         <p>Travel Tips</p>
                         <p>(15)</p>
                     </div>
  
  
  
  
            </div>

            <div class="col-lg-12 mt-5 mb-5">
                           <h5 style="color: skyblue; text-align: center;
                           margin-top: 10px; margin-bottom: 60px;">RELATED POSTS</h5>
   
                           <div class="row col-lg-12 mx-auto">
                               
                               <div class="col-lg-4">
                               <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" style="width: 300px; height: 200px;  margin-top: 50px; display: block; margin: auto;">
                               <p style="text-align: center; margin-top: 10px;">Epic Ride: Family Backpacking in Costa Rica</p>
                               <p style="text-align: center; color: skyblue;">MAY 14, 2016</p>
                               </div>
                               <div class="col-lg-4">
                                   <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" style="width: 300px; height: 200px;  margin-top: 50px; display: block; margin: auto;">
                                   <p style="text-align: center; margin-top: 10px;">A Calm Comes Over The Lake This Month</p>
                                   <p style="text-align: center; color: skyblue;">MAY 14, 2016</p>
                               </div>
                               <div class="col-lg-4">
                                   <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" style="width: 300px; height: 200px;  margin-top: 50px; display: block; margin: auto;">
                                   <p style="text-align: center; margin-top: 10px;">10 Ideas To Spice up Your Next Hiking Trip</p>
                                   <p style="text-align: center; color: skyblue;">MAY 14, 2016</p>
                               </div>
                           </div>
   
                          

                          <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            
                            <!-- The slideshow -->
                            <div class="carousel-inner pt-5 pb-4" style="background-color: rgb(181, 216, 216); margin-top: 60px;">
                                <h5 style="color: white; text-align: center;">COMMENTS</h5>
                              <div class="carousel-item active pt-3 pb-2">
                                <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" alt="Los Angeles" width="1100" height="500">
                                <p style="text-align: center; color:black;">Bella Doe <br>4 YEARS AGO</p>
                                <p  style="text-align: center;">That far ground rat pure from newt far panther crane lorikeet overlay<br> alas cobra across much gosh less goldfinch ruthlessly alas examined and that more and the ouch jeez.</p>
                              </div>
                              <div class="carousel-item pt-3 pb-2">
                                <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" alt="Chicago" width="1100" height="500">
                                <p style="text-align: center; color: black;">Bella Doe <br>4 YEARS AGO</p>
                                <p  style="text-align: center;">That far ground rat pure from newt far panther crane lorikeet overlay <br> alas cobra across much gosh less goldfinch ruthlessly alas examined and that more and the ouch jeez.</p>
                              </div>
                              <div class="carousel-item pt-3 pb-2">
                                <img src="https://cheerup.theme-sphere.com/travel/wp-content/uploads/sites/6/2016/05/OIN_01045-1170x781.jpg" alt="New York" width="1100" height="500">
                                <p style="text-align: center; color: black;">Bella Doe <br>4 YEARS AGO</p>
                                <p style="text-align: center;">That far ground rat pure from newt far panther crane lorikeet overlay<br> alas cobra across much gosh less goldfinch ruthlessly alas examined and that more and the ouch jeez.</p>
                              </div>
                            </div>
                            
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon" style="color:white;padding: 15px;"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon" style="color:white; padding: 15px;"></span>
                            </a>
                          </div>
                        


        <!-- div for row and container-->
        </div>
        </div>





        <%- include('partials/footer.ejs') %>


</body>
</html>
