<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <!-- Partner START -->
    <div id="partner" class="container" style="text-align: left;">

        <center>
            <h1
                style="font-family:georgia,garamond,serif;font-size:16px; margin-top: 120px; text-align: center; font: normal normal 600 44px/51px Raleway; letter-spacing: 0px; color: #000000; opacity: 1;">
                Want to be our Partner?</h1>
        </center>
        <center><h3>If you love travelling, Don't look beyond!</h3></center>
        <br>
      <center><h3>Current Openings</h3></center>

      <div class="card-columns">
        <div class="card" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width:80%;margin-left: 280px; margin-top: 20px;margin-bottom: 50px; box-shadow: 2px 2px 2px #EEEEEE;">
            <div class="card-body">
           <center><b><h3>POSITION</h3></b></center><br>
             <p>Qualification: xyz</p>
             <p>Experience: xyz</p>
             <p>Work Type: Work from Home</p>
             <p>salary: $500</p>
             <p>Other details: fbvffd</p>
             <p>Job Description: It is a long established fact that a reader will be distracted by the readable content of a page whe opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
        </div>

          <div class="card" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width:80%;margin-left: 220px; margin-top: 20px;margin-bottom: 50px;box-shadow: 2px 2px 2px #EEEEEE;">
            <div class="card-body">
           <center><b><h3>POSITION</h3></b></center><br>
             <p>Qualification: xyz</p>
             <p>Experience: xyz</p>
             <p>Work Type: Work from Home</p>
             <p>salary: $500</p>
             <p>Other details: fbvffd</p>
             <p>Job Description: It is a long established fact that a reader will be distracted by the readable content of a page whe opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
          </div>
      </div>
      <div class="card-columns">
        <div class="card" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width:80%;margin-left: 280px; margin-top: 0px;margin-bottom: 50px;box-shadow: 2px 2px 2px #EEEEEE;">
            <div class="card-body">
           <center><b><h3>POSITION</h3></b></center><br>
             <p>Qualification: xyz</p>
             <p>Experience: xyz</p>
             <p>Work Type: Work from Home</p>
             <p>salary: $500</p>
             <p>Other details: fbvffd</p>
             <p>Job Description: It is a long established fact that a reader will be distracted by the readable content of a page whe opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
          </div>

          <div class="card" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width:80%;margin-left: 220px; margin-top: 0px;margin-bottom: 50px;box-shadow: 2px 2px 2px #EEEEEE;">
            <div class="card-body">
           <center><b><h3>POSITION</h3></b></center><br>
             <p>Qualification: xyz</p>
             <p>Experience: xyz</p>
             <p>Work Type: Work from Home</p>
             <p>salary: $500</p>
             <p>Other details: fbvffd</p>
             <p>Job Description: It is a long established fact that a reader will be distracted by the readable content of a page whe opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
          </div>
      </div>

     <h2><center><p>Intern with us</p></center></h2>
     <form action="http://localhost:3000/api/feedback" method="POST">
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12 left">

                <input name="name" type="text" placeholder="First Name*"><br>
                <input name="email" type="email" placeholder="   Email*"><br>
                <input name="contactNumber" type="number" placeholder="   Contact Number*">
                <div class="upload">
                    <label id="file-name" class="left" for="file-upload">Upload your CV</label>
                    <input onchange="update()" id="file-upload" style="display: none;" type="file">
                    <label class="right" for="file-upload">Browse</label>
                </div>
                <p>(only doc, jpg, png, pdf, txt, allowed. Max. file size is 500KB)</p><br><br><br><br>
            </div>
            <div class="col-md-4 col-sm-12 right">
                <input name="name" type="text" placeholder="Last Name*"><br>
                <textarea name="description" style="height: 50% ;width: 100%";placeholder="Post Your Queries"></textarea>
            </div>
        </div>
        <center>

            <button id="btn" style="border-radius: 7% ;width:15%;margin-top: -100px;";type="submit">SUBMIT</button>

        </center>
    </form><br><br><br>
<style>
        /* FORM STARTS */
form .row{
    margin-top: 10vh;
    height: fit-content;
}
form .row .left{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
form .up{
    margin-top: -12vh;
}
#btn{
    padding: 10px;
    /* margin: 15px 0px 0px 0px; */
    text-align: center;
    width:100px;
    background-color: black;
    color:white;
    /* opacity: 0.6; */
    border: 1px solid black;
    display: inline-block;
}
form select,input{
    width:100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}
form .row .left .upload{
    display: flex;
    width: 100%;
    /* margin-left:10PX; */
}
form .row .left label.left{
    padding: 10px;
    margin:15px 0px 0px 0px;
    text-align: center;
    opacity: 0.6;
    border: 1px solid black;
    display: inline-block;
    flex: 1;
}

form .row .left label.right{
    width: 35%;
    padding: 10px;
    margin: 15px 0px 0px 0px;
    text-align: center;
    border-left: none;
    background-color: black;
    color:white;
    /* opacity: 0.6; */
    border: 1px solid black;
    display: inline-block;
    float: left;
}
form .row .left p{
    width:100%;
    margin-left:10px;
    margin-top: 2px;
    font-size: 12px;
    opacity: 0.7;
}
form .row .left input[type="submit"]{
    width: 50%;
    margin-top: 60px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    border-radius: 08px;

}

form .row .right textarea{
    height: 69%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    resize: none;
    border: 1px solid black;
}
form .row .right textarea::placeholder{
    text-align: center;
    margin-top: 10px;
}
/* FORM ENDS */
</style>
     <!-- <div>
        <div class="form-outline" style="margin: 50px 800px 20px 300px">
            <input type="text" id="typeText" class="form-control" placeholder="First Name*" />
        </div>
        <div class="form-outline"style="margin: 0px 800px 20px 300px">
            <input type="email" id="typeEmail" class="form-control"  placeholder="E-mail*"/>
        </div>
        <div class="form-outline" style="margin: 0px 800px 20px 300px">
            <input type="text" id="typeText" class="form-control"  placeholder="Contact Number.*"/>
        </div>

        <div class="input-group" style="margin-bottom: 20px;">
            <div class="custom-file"style="margin-right:800px">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" style="margin-left:300px" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div> -->




    </div>
    <!-- Partner END -->

    <%- include('partials/footer.ejs') %>

</body>

</html>
