<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <div class="container" id="faq" style="text-align: left;">

        <center>
            <h1
                style="font-family: Raleway Semibold ;font-size:16px; margin-top: 100px; text-align: center; font: normal normal 600 44px/51px Raleway; letter-spacing: 0px; color: #000000; opacity: 1;">
                FAQs</h1>
        </center>

        <div style="font-family: SegoeUI Regular; margin-top:50px; margin-bottom:50px;">
          <p><b> 1.What is Agixury </b><br>
      <p><b> 2. Which countries can I travel to with AGIXURY? </b><br>
      <p><b>3. What are the COVID-19 restrictions present currently on travel? </b><br>
      <p><b>4. What are the other services offered by Augixury ? </b><br>
       <i> Augixury is the website that provides complete stay packages and tours which includes accommodation, F&B, club access, and also return transfers for opulent properties</i></p>
      <p><b>  5. What payment modes are accepted? </b><br>
      <p><b>  6. How can l receive my payment ticket if l do it online. </b><br>
      <p><b>  7. If I cancel a hotel or package booking, how does agixury refund me? </b><br>
      <p><b>  8. Are international credit cards accepted? </b><br>
      <p><b>  9. Can I change my hotel booking? </b><br>
       <i>Yes you can, when booking a room it will be stated besides how many days that you are able to make cancellation or change the hotel. </i><br>
      <p><b>  10. Which documents are required while booking? </b><br>
      <p><b>  11. Do I have an option of group booking? </b><br>
        <i>Yes we provide group booking facility and we try to negotiate better deal on group bookings.</i><br>
      <p><b>  12. How can I get in contact with the administration?</b><br>
      <i>  On the website of Agixury there are contact details for all means of getting in touch with us such as email, contact number, the office address, etc..</i><br>
      <p><b>  13. How do I know that my booking is confirmed? </b><br>
      <i> Whether a booking is made online or over the phone, a confirmation would be sent to you via e-mail, which would include your reservation number and travel details. </i><br>
      <p><b>  14. How do I find available hotels for the period I want to stay? </b><br>
      <i>  When making a booking it would be indicated on the site whether the hotel is open for business or not, also if its closed there won't be any option to proceed to payment. </i><br>
      <p><b>  15. Can hotels accomodate my special diet requirements? </b><br>
        <i>  Definetly, you should state your special needs on the food section during the booking process. </i><br>
      <p><b>  16. What quality checks do these hotels go through to get listed in AGIXURY? </b><br>
      <i>  We do a background check on the hotels, we send some inspectors to go and inspect the daily operation of the hotels and if it meets all our standards and requirements we then partner with it.</i> <br>
      <p><b>  17. How can I make a hotel booking for a destination not listed on the site?</b><br>
       <i>  You should contact the administration for confirmation and then follow the given instructions by one of our team members. </i><br>
      <p><b>  18. How can I see which features are included in the price? </b><br>
       <i>On the browser it will be given a list of features to each and every destination you want to be.</i> <br>
      <p><b>  19. Am I guaranteed the lowest fares? </b><br>
       <i>We guarantee the best price</i> <br>
      <p><b>  20. What are the minimum costs for a travel package? </b><br>
      <i> This varies with location and the package you want but the information about package pricing can be inquired at the browser on the packaging section. </i><br>
      <p><b>  21. Where can l find my itenerary once l booked? </b><br>
      <i> It would be sent on your mobile or you can go on the website to track it.</i><br>
      <p><b>  22. How can I book a multi-sector itinerary? </b><br>
      <p><b>  23. What benefits do Senior Citizens get? </b><br>
      <p><b>  24. What offers do you provide? </b><br>
      <p><b>  25. How can I get a membership card? </b><br>
      <p><b>  26. How do I book a ticket? </b><br>
       <i> Go on the website and select booking section, search for your desired destination and then follow the step-wise given procedures </i><br>
      <p><b>  27. Are taxes and booking fees included in the prices that you show? </b><br>
      <p><b>  28. I am usually a heavy traveler with a lot of luggage, will I get the services and safety to my belongings?</b><br>
      <i>Safety is one of our biggest priorities, all your belongings would be in good hands and also you need not too worry for the carrier because it would be provided by the hotel itself.</i><br>
      <p><b>  29. Why should l book through you instead of going to other online site or the resort directly? </b><br>
        <i>  We are here to make your journey smooth, on personal direct booking there are many mistakes that can be done by you or the other responded at the booking place and it is hard to correct such mistakes and you might end up making some compromises or even paying more than you were supposed to. Agixury has an agreement to make changes and we are accountable to human error.</i><br>

        </div>
    </div>

    <%- include('partials/footer.ejs') %>

</body>

</html>
