<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/contact_style.css">
</head>

<body>
    
    <%- include('partials/header-navbar.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-12 pass">
                <div class="box-head" style="font-size: 3rem; text-align: center; margin-top: 40px;">Forgot Password</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pass" style="margin-bottom: 20px;">
                <div class="box-head" style="font-size: 1rem; text-align: center; color: #a9a9a9;">You will receive a link to create a new password via mail.<br/>Please enter your email address.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <input type="email" id="Fmail" placeholder="Enter your email">
            </div>
            <div class="col-xs-0 col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-12 pass" style="margin: 10px 0 100px;">
                <button type="submit" class="btn btn-lg btn-primary" style="margin: 10px; padding: 10px;">Submit</button>
            </div>
        </div>
    </div>
    <style>
        .pass{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        input[type='email']{
            height: 40px;
            border-radius: 20px;
            margin: 10px 0;
            border-color: #000;
        }
    </style>
</body>

<%- include('partials/footer.ejs') %>
