<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <!-- HEADER BEGINS HERE -->
    <div class="head_cont container-fluid" >
        <div class="row row-header-empty"></div>

        <div class="container" id = "social-button-last">

            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-facebook" href="https://m.facebook.com/Agixury-105143354685132/?tsid=0.7678211859768536&source=result"><img
                            src="images/facebook.svg"></a>
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-linkedin" href="http://instagram.com/agixury"><img
                            src="images/instagram.svg"></i></a>
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/agixury"><img src="images/linkedin.svg"></a>
                </div>

            </div>

        </div>


        <!--icon set and sub-->
        <div class="row" id="header-to-go">
            <div class="col-6">
                <div class="row">
                    <div class="container">

                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><img
                                        src="images/facebook.svg"></a>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><img
                                        src="images/instagram.svg"></i></a>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><img src="images/linkedin.svg"></a>
                            </div>
                            <div class="col"></div>
                        </div>

                    </div>
                </div>
                <div class="row row-subscribe">
                    <!--sub-->

                    <div class="col-12"></div>
                    <div class="offset-4 col-8">
                        <div class="Subscribe">
                            <p>Subscribe to our Newsletter</p>
                            <form action="#">
                                <input type="text" placeholder="Please enter your Email">
                                <input type="submit" value="SUBSCRIBE">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row row-login">
                    <div class="login-signup">
                        <div class="inner">

                            <div class="option">
                                <button class="line"><a href="#" class="active">Log In</a></button>
                                <button><a href="#">Sign up</a></button>
                            </div>

                            <form action="#">
                                <input type="text" placeholder="Email or phone">
                                <input type="password" placeholder="Password">
                                <input type="submit" value="Log In">
                            </form>
                            <a href="#">forgotten password?</a>

                            <div class="botm-option">
                                <button class="line"><a href="#">Log In with <i class="fa fa-facebook-square" aria-hidden="true"></i></a></button>
                                <button><a href="#">Log In with<i class="fa fa-envelope mail" aria-hidden="true"></i></a></button>
                            </div>

                        </div>
                    </div>
                </div>
                <!--forms-->
            </div>
        </div>

    </div>
    <!--End of HEADER-->


    <!--list-->
    <div class="container">
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <h2>Jaipur</h2>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <h2>Jaipur</h2>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <h2>Jaipur</h2>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <h2>Jaipur</h2>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <h2>Jaipur</h2>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
    </div>
    <!--list completed-->

    <%- include('partials/footer.ejs') %>

</body>

</html>
