<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>
    
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin: auto; width:100%">Log in / Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="authFormContainer">
                         <div class="row row-login">
                            <div class="login-signup" style="z-index: 2;">
                                <div class="inner" style="width: 80%; border: 5px solid black;"">
        
                                    <div class="option" style="border-bottom: 5px solid black;">
                                        <button class="line" id="Lbtn" style="background-color: #0275d8;"><a href="#">Log In</a></button>
                                        <button class="signupbtn" id="Sbtn" style="background-color: #5cb85c;"><a href="#">Sign up</a></button>
                                    </div>
                                    <div class="loginform" style="background-color: #fff; color: #000;">
                                        <form id="loginForm" class="placeColor">
                                            <input style="background-color: rbg(192,192,192); color: #000;" id="emailOrContact" type="text" placeholder="Email or phone">
                                            <input style="background-color: rbg(192,192,192); color: #000;" id="passwordLogin" type="password" placeholder="Password">
                                            <input class="bg-success" type="submit" value="Log In">
                                        </form>
                                        <a href="#">forgotten password?</a>
        
                                        <div class="botm-option">
                                            <button class="line"><a href="#">Log In with&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i></a></button>
                                            <button><a href="#">Log In with&nbsp;<i class="fa fa-envelope mail" aria-hidden="true"></i></a></button>
                                        </div>
        
                                    </div>
                                    <div class="signupform" style="background-color: #fff; color: #000;">
                                        <form id="registerForm" class="placeColor">
                                            <input  style="background-color: rbg(192,192,192); color: #000;" id="firstName" type="text" placeholder="First name">
                                            <input  style="background-color: rbg(192,192,192); color: #000;" id="lastName" type="text" placeholder="Last name">
                                            <input  class="emailSignup" id="email" type="email" placeholder="Enter email">
                                            <input  style="background-color: rbg(192,192,192); color: #000;" id="contactNumber" type="text" placeholder="Contact number">
                                            <input  style="background-color: rbg(192,192,192); color: #000;" id="password" type="password" placeholder="Password">
                                            <input  style="background-color: rbg(192,192,192); color: #000;" id="repeatPassword" type="password" placeholder="Confirm password">
                                            <input  class="bg-success" type="submit" value="Sign up">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <!-- HEADER BEGINS HERE -->
    <div class="head_cont container-fluid">
        <div class="row row-header-empty">
            <div class="col-6"></div>
            <div class="col-6" id="authFormContainer">
      
                <!--forms-->
            </div>
        </div>

        <div class="container" id="social-button-last">

            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-facebook"
                        href="https://m.facebook.com/Agixury-105143354685132/?tsid=0.7678211859768536&source=result"><img
                            src="images/facebook.svg"></a>
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-linkedin" href="http://instagram.com/agixury"><img src="images/instagram.svg"></i></a>
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/agixury"><img src="images/linkedin.svg"></a>
                </div>

            </div>

        </div>


        <!--icon set and sub-->
        <div class="row" id="header-to-go">
            <div class="col-6">
                <div class="row">
                    <div class="container">

                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><img
                                        src="images/facebook.svg"></a>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><img
                                        src="images/instagram.svg"></i></a>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><img src="images/linkedin.svg"></a>
                            </div>
                            <div class="col"></div>
                        </div>

                    </div>
                </div><br ><br>
                <div class="row"
                    style=" width: 100%; height: 80px; margin-top: 9%; position:fixed; z-index: 1; bottom:0; margin-bottom:9.5rem;">
                    <!--sub-->
                    <div class="newsletter" style="background: #0000007C; opacity: 1; margin-left : 0px;margin-bottom: -152px; position: absolute; bottom:0px; display: flex; width: 100%;justify-content: space-between;">
                        <div style="color: #ffffff; margin-left:4%; margin-top:2%; font-size: 12px;padding-top: 1%;">
                            <h3>Never miss a deal</h3>
                            <p class="para-1">
                                Get the best travel deals in you inbox</p>
                        </div>
                        <div class="Subscribe" style="float: right;margin-right: 10%; padding-top: 1%;position:absoluete;z-index: 5; flex: 0.6;">
                            <h5 class="para-2"style="color: #fff;">Subscribe to our Newsletter</h5>
                            <form action="#">
                                <input class="newsletter-input" type="text" placeholder="Please enter your Email" style="padding: 11px; width: 200px;">
                                <input type="submit" value="SUBSCRIBE" style="padding: 13px; background-color: orangered; color: white;">
                                <label style="margin-left:40px;color: #ffffff;text-align: left;"><input type="checkbox" name="t&c"> I, agree to the <a
                                        href="#">Terms & conditions</a> and would like to subscribe to offers,alerts and services. </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <!--End of HEADER-->


    <!--list-->
    <div class="container" style="z-index: 0;">
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right:25px;" class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right:25px;" class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right:25px;" class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right:25px;" class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right:25px;" class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <img class="image-place" src="images/p.jpg" alt="Jaipur">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-left:25px;" class="col-md-6 col-lg-6">
                    <a href="/packages"><h5 style="text-align: left; margin-top:20px;" class="card-title"><i class="fa fa-map-marker-alt"></i><strong> Jaipur, India</strong></h3></a>
                    <p class="card-text" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum adipisci! Distinctio iure optio dolore eius, odit, quasi reiciendis saepe, qui sit eum eligendi facilis! Distinctio iure eos aliquid odio.</p>
                </div>
                <div style="padding-right: 25px;"style="padding-right:25px;"  class="col-md-6 col-lg-6">
                    <h3 class="card-text"><i class="fa fa-rupee-sign"></i><strong> 9,999</strong> /room</h3>
                    <h5 class="card-text"><i class="fa fa-clock"></i> Limited Time Offer</h5>
                </div>
            </div>
        </div>
    </div>
    
        <!--
        <div class="row"
            style=" border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%;position:absolute;z-index: 0;  " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <a href="/packages" style="color: #000000;">
                        <h2>Jaipur</h2>
                    </a>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%;z-index:-1;position:absoluete; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <a href="/packages" style="color: #000000;">
                        <h2>Jaipur</h2>
                    </a>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%;z-index:-1;position:absoluete; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <a href="/packages" style="color: #000000;">
                        <h2>Jaipur</h2>
                    </a>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%;z-index:-1;position:absoluete; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <a href="/packages" style="color: #000000;">
                        <h2>Jaipur</h2>
                    </a>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
        <div class="row"
            style="border: 1px solid grey; box-shadow: 1px 1px #dcdcdc; display: flex; flex-wrap:wrap; text-align: left; margin:1.5rem; width:85%">
            <div class="col-12 col-sm-3" style="padding:0px;">
                <img src="images/p.jpg" alt="" style="margin: 0px; width: 100%;height:100%;z-index:-1;position:absoluete; " /></div>
            <div class="col-12 col-sm" style="text-align:left; align-content: space-around;">
                <span class="tagname" style="padding: 0.01rem;text-align: left;">
                    <a href="/packages" style="color: #000000;">
                        <h2>Jaipur</h2>
                    </a>
                </span><br>
                <span class="content" style="margin-top: 0rem;">
                    <p> Jaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best
                        place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place
                        tovisitJaipur is best place tovisitJaipur is best place tovisitJaipur is best place tovisit</p>
                </span>
                <span class="buttons">
                    <button style="border-radius: 10% ; width: 15%; margin: 0.5%">4.2 <i class="fas fa-star"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;<button style="border-radius: 25% ; width: 15%; margin: 0.5%">5 days</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button
                        style="border-radius: 25% ; width: 17%; margin: 0.5%">available</button>
                </span>
            </div>
        </div>
    </div>
    -->
    <!--list completed-->

    <%- include('partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="javascripts/auth.js"></script>
</body>
<script>
    $(document).ready(function () {

        $(".signupform").hide();

        $(".signupbtn").click(function () {
            $(".signupform").show();
            $(".loginform").hide();
        });

        $("#loginbtn").click(function () {
            $(".signupform").hide();
            $(".loginform").show();
        })
    });

    setTimeout(function(){
        $('#loginModal').modal('show');
        }, 2000
    );
    $("#Lbtn").click(function () {
        $(".signupform").hide();
        $(".loginform").show();
        $("#Lbtn").css("background-color", "#0275d8");
        $("#Sbtn").css("background-color", "#5cb85c");
    });
    $("#Sbtn").click(function () {
        $(".signupform").show();
        $(".loginform").hide();
        $("#Sbtn").css("background-color", "#0275d8");
        $("#Lbtn").css("background-color", "#5cb85c");
    });
    $('#loginButton').click(function(){
        $('#loginModal').modal('show');
    });
    
</script>

</html>
