<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <!-- Partner START -->
    <div id="partner" class="container" style="text-align: left;">

        <center>
            <h1
                style="font-family:georgia,garamond,serif;font-size:16px; margin-top: 120px; text-align: center; font: normal normal 600 44px/51px Raleway; letter-spacing: 0px; color: #000000; opacity: 1;">
                Want to be our Partner?</h1>
        </center>

        <div class="partner-content" style="font-family: SegoeUI; margin-top:50px; margin-bottom:50px;">
            <p>AGIXURY is a website that provides complete stay packages and tours which includes accommodation, F&B, club access, return transfers
                for opulent properties. We are the fastest growing start-up in India which aims to provide one of the finest services. AGIXURY aims to
                become the go-to website for tourism.
                <!-- </font> -->
            </p>

            <p>Agixury is finally here to takeover travelling to the next level. Being a newbie won't hinder us to provide the best of finest deals in
                the world market. Our target is to have an impact in the world by lessening the burden and troubles associated with travelling,
                booking of hotels, resorts, flights or even finding the best at an affordable rate. </p>

            <p>The uniqueness of AGIXURY is that we only provide deals and discounts from Luxury category hotels. We have one of the best deals in the
                market that makes us unique and popular among customers. We have also been appreciated by many customers and hotels for our quality
                services that are being offered.</p>

            <p>Agixury proves its concerns and loyalty to its customers by giving them discounts and offers. Club members are also given gift cards
                which contain great deals throughout the year. Elders and children are always having a special place in our hearts, so special
                discounts and offers will be given to them along with free breakfast (Terms might vary depending on the hotel), Agixury also have
                special services for this group of individuals so that they do not face any challenges or difficulties. We have also got many 5-Star
                ratings from many hotels and customers that we are currently working/dealing with.</p>

            <p>Currently, we aren't charging any commission from the hotels which are collaborating with us that makes our deals more affordable for
                customers. That will help us to grab more customers. We have an outstanding team that is continuously working for the development of
                AGIXURY.</p>

            <p>We will soon be officially launching our App and website. The app and website will be designed in such a way that it is user friendly
                and has many features which are unique in the market. The website and App will be very popular among the customers soon. </p>

            <p>We are also willing to assist you in App building, content creation and video making, photoshoot of properties, handling digital
                marketing, social media marketing, web development, and lot more. All these services can be provided at very minimal rates, cheaper
                than the market rates. </p>

            <p>We also give special importance to newly started Luxury hotels and promote them for free if they partner with us. (We grow and help
                others also to grow and flourish with us).</p>

            <p>Agixury considers humanitarianism and we help our customers in the best way we can. We provide assured quality service, and customer
                satisfaction is our happiness. We also ensure that the process of dining inn and dine out takes place effortlessly.</p>
        </div>
    </div>
    <!-- Partner END -->

    <%- include('partials/footer.ejs') %>

</body>

</html>