<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <div class="container" id="refer" style="text-align: left;">

        <center>
            <h1 style="font-family:georgia,garamond,serif;font-size:16px; margin-top: 120px; text-align: center; font: normal normal 600 44px/51px Raleway; letter-spacing: 0px; color: #000000; opacity: 1;">
                Refer</h1>
        </center>

        <div style="font-family: SegoeUI; margin-top:50px; margin-bottom:50px;">
            <strong><p>WHO ARE ELIGIBLE?</p></strong>
            <p>Everyone who is a member of Agixury is eligible to send a referral code to their friends and family.</p>
            <strong><p>What CAN I REFER ON FABGETAWAYS?</p></strong>
            <p>You can refer the website as well as individual deals on AGIXURY.</p>
            <strong><p>WHAT DO I GET ONCE I REFER AGIXURY?</p></strong>
            <p>Once you refer AGIXURY, you receive AGIXURY credits worth INR 2500.</p>
            <strong><p>WHEN CAN I USE THESE AGIXURY CREDITS?</p></strong>
            <p>You can use these AGIXURY credits, once a purchase has been made using your referral link.</p>

        </div>
    </div>

    <%- include('partials/footer.ejs') %>

</body>

</html>
