<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%- include('partials/header-navbar.ejs') %>

    <!-- Tour START -->
    <div id="tours" class="container">

      <center>
        <h1 style="font-family:Breeze Personal Use Regular; font-size:100px; margin-top :200px; margin-bottom:200px;"><strong><em>coming soon.</em></strong></h1>
      </center>

    </div>
    <!-- Tour END -->

    <%- include('partials/footer.ejs') %>

</body>

</html>
