/* FORM STARTS */
form .row{
    margin-top: 10vh;
    height: fit-content;
}
form .row .left{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
form .up{
    margin-top: -12vh;
}
#btn{
    padding: 10px;
    /* margin: 15px 0px 0px 0px; */
    text-align: center;
    width:100px;
    background-color: black;
    color:white;
    /* opacity: 0.6; */
    border: 1px solid black;
    display: inline-block;
}
form select,input{
    width:100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}
form .row .left .upload{
    display: flex;
    width: 100%;
    /* margin-left:10PX; */
}
form .row .left label.left{
    padding: 10px;
    margin:15px 0px 0px 0px;
    text-align: center;
    opacity: 0.6;
    border: 1px solid black;
    display: inline-block;
    flex: 1;  
}

form .row .left label.right{
    width: 35%;
    padding: 10px;
    margin: 15px 0px 0px 0px;
    text-align: center;
    border-left: none;
    background-color: black;
    color:white;
    /* opacity: 0.6; */
    border: 1px solid black;
    display: inline-block;
    float: left;    
}
form .row .left p{
    width:100%;
    margin-left:10px;
    margin-top: 2px;
    font-size: 12px;
    opacity: 0.7;
}
form .row .left input[type="submit"]{
    width: 50%;
    margin-top: 60px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    border-radius: 08px;
    
}

form .row .right textarea{
    height: 69%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    resize: none;
    border: 1px solid black;
} 
form .row .right textarea::placeholder{
    text-align: center;
    margin-top: 10px;
}
/* FORM ENDS */