* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1a1b1b;
}

::selection{
  background: rgb(0,123,255,0.3);
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-family: 'SegoeUI';
  text-align: center;
  background-color: #ffffff;
}
#authFormContainer{
    padding-top: 40px;
 }
.body-border-demarcate {
  border-bottom: 15px ridge;
}

.footer-base {
  background-color: #c0c0c0;
}
/* Navbar css START
============================================================================================ */
header {
  font-family: 'SegoeUI', sans-serif;
  font-size: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.2);
  z-index: 0;
}
  .nb:visited {
    color: #1a1b1b;
  }

/* NAVIGATION BAR 1 STARTS */

header .nav-1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .nav-1 .logo {
  margin-top: 10px;
  /* border: 1px solid black; */
  text-align: center;
}
.logo {
  text-decoration: none;
  line-height: 55px;
  padding: 0 20px;
  font-weight: 500;
}
header .nav-1 .logo a,
header .nav-1 .lists li a {
  color: #000303;
  text-decoration: none;
}
header .nav-1 .lists li,
.nav-2 ul li {
  list-style: none;
  display: inline-block;
}
header .nav-1 .lists ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header .nav-1 .lists ul li a {
  display: block;
  margin-top: 25px;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
}
.nav-1 .lists ul li a.active {
  color: black;
  opacity: 1;
}

.nav-1 .lists ul li a:hover {
  transition: 100ms transform ease-in;
  transform: translateY(-2px) scale(1.05);
  font-weight: 600;
  border-left: 1px solid #eb5d1e;
  border-right: 1px solid #eb5d1e;
}

/* NAVIGATION BAR 1 ENDS */

/* NAVIGATION BAR 2 STARTS */

.nav-2 ul {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
header .nav-2 ul li {
  flex-shrink: 1;
}
header .nav-2 ul li a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-size: 20px;
}

.nav-2 ul li a.active {
  color: black;
  opacity: 1;
}

.nav-2 ul li a {
  background: linear-gradient(
    to right,
    var(#eb5d1e) 0%,
    var(#eb5d1e) 5px,
    transparent 5px
  );
  background-repeat: repeat-x;
  background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
  border-left: 2px solid #eb5d1e;
}

.nav-2 ul li a:hover {
  background: linear-gradient(to right, #ff9800 0%, #ff9800 5px, transparent);
}

.nav-2 ul li .log{
  display: none;
}

@media (max-width: 758px){
	
  .nav-2 ul li .log{
        display:flex;
  }
}

nav.nav-2 ul .about {
  display: none;
  align-items: center;
}

nav.nav-2 ul li.about img {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}
.pro-pic {
  display: none;
}

/* Landing Page list section start */
.list:hover{
  transform: scale(1.05);
  box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.5);
}

/* Landing Page list section end */






/* NAVIGATION BAR 2 ENDS */

/* STICKY IS WORKING..... */
header {
  -webkit-position: sticky;
  position: sticky;
  top: -75px;
}

/* Media queries............ */
@media (max-width: 953px) {
  header .nav-1 {
    width: 90%;
  }
  .nav-2 ul {
    width: 90%;
  }
}
@media (max-width: 849px) {
  header .nav-1 {
    width: 100%;
  }
  .nav-2 ul {
    width: 100%;
  }
}
@media (max-width: 764px) {
  .pro-pic {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 50%;
    border: 1px solid black;
  }
  .pro-pic img {
    width: 100%;
  }
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 25px;
    /* background-color: #ccc; */
    text-align: center;
    font-size: 30px;
    color: #0a0a0a;
    position: absolute;
    z-index: 2;
    transition: 0.8s;
  }

  .menu-toggle a:hover {
    color: #f1f1f1;
  }
  .menu-toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
    top: 5px;
    color:white;
  }
  .menu-toggle.active {
    left: 170px;
    top: 30px;
    z-index: 9999;
  }
  .lastelement {
    margin-bottom: 150px;
  }
  .menu-toggle.active::before {
    content: '\f00d';
    font-family: fontAwesome;
    line-height: 60px;
    font-weight: 100;
    color: grey
  }
  .nav-1 .lists {
    display: none;
  }
  header .nav-1 {
    justify-content: center;
  }
  header .nav-2 ul {
    flex-direction: column;
  }

  header .nav-2 ul li a {
    padding: 2px 20px;
  }

  header .nav-2 {
    position: absolute;
    left: 0;
    padding-top: 50px;
    background-color: #fff;
    outline-color: white;
    display: none;
    padding-right: 20px;
    z-index: 2;
  }
  header .nav-2.active {
    display: flex;
    padding-top: 10px;
      transition: 1s;
      left: 0;
  }
  header .nav-2.active li {
    display: flex;
  }
  .nav-2 ul li a.active,
  .nav-2 ul li a:hover {
    border-style: none;
  }
  .nav-2 ul li:hover {
    background-color: rgba(146, 146, 146, 0.7);
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
	
 .newsletter {
    flex-direction: column;
  }

  .newsletter .para-1,
  .newsletter .para-2 {
    display: none;
  }

  .newsletter > form {
    margin-left: -12px;
  }
  .newsletter-input {
    margin-left: 40px;
  }	
	
	
  /* Sidebar CSS */
  .navbar-container {
    z-index: 9;
  }

  .sidebar-avatar-image {
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .logo-img{
    margin:0;
    filter: invert(100%);
  }

  .navbar-container{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
  }
}

/* Sliding animation */
.active {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

/* @keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* Fix transparent header issue on non mobile screens*/
@media (min-width:765px) {
  header {
    z-index: 999;
  }
}
/* Navbar css END
============================================================================================ */

/* FONTS START
============================================================================================ */
@font-face {
  font-family: 'SegoeUI';
  src: url('../public/fonts/SegoeUI/SegoeUI.eot'),
    url('../public/fonts/SegoeUI/SegoeUI.woff') format('woff'),
    url('../public/fonts/SegoeUI/SegoeUI.ttf') format('truetype'),
    url('../public/fonts/SegoeUI/SegoeUI.svg') format('svg');
}
@font-face {
  font-family: 'SegoeUISemibold';
  src: url('../public/fonts/SegoeUI/SegoeUI-Semibold.eot'),
    url('../public/fonts/SegoeUI/SegoeUI-Semibold.woff') format('woff'),
    url('../public/fonts/SegoeUI/SegoeUI-Semibold.ttf') format('truetype'),
    url('../public/fonts/SegoeUI/SegoeUI-Semibold.svg') format('svg');
}
/* FONTS END
============================================================================================ */

/* Body css START
============================================================================================ */
.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}
.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.container{
  margin-top:5%;
}

.card-wrap{
  width:80%;
  margin: auto;
  margin-bottom:10%;
  background-color: white;
}

.card-wrap:hover{
  transform: scale(1.08);
  transition: 1s;
  box-shadow: 10px 10px 10px #3d3939;
}

.card-title{
  color:black;
}

.image-place{
  width:100%;
  height:450px;
}

.card-text{
  text-align: right;
  margin-top:15px;
}

a:hover{
  text-decoration: none;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}
.responsive{
  width: 100%;
  height: auto;
}
.content{
  margin-left: 20px;
}
/* Body css END
============================================================================================ */

/* Footer css START
============================================================================================ */
footer {
  padding-top: 40px;
  padding-left: 65px;
  padding-bottom: 20px;
  padding-right: 65px;
  background-color: #f0eeee;
  text-align: left;
  font-family: 'SegoeUI';
}

/* background color #dcdcdc ? */

/* .page-footer {
	background-color: #dcdcdc;
} */

.footer-mobile {
  background-image: url('../images/Rectangle_53@footer.png');
}

@media (max-width: 767.98px) {
  footer {
    padding: 0;
  }

  .footer-logo {
    padding-left: 20px;
  }
  .content{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.footer-mobile__wrapper {
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: 'Raleway', sans-serif;
}

.footer-title h3 {
  font-weight: 700;
}

.footer-caption h5 {
  font-weight: 500;
}

.footer-form {
  width: 60%;
}

.footer-form__input {
  border: 2px solid #000000;
  border-radius: 3px;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-form__input::placeholder {
  text-align: center;
}

.footer-form__button {
  padding-left: 30px;
  padding-right: 30px;
}

.footer-logo {
  width: 150px;
}

.footer-logo img {
  height: 80px;
  margin-left: -20px;
}

.footer-about {
  font-size: 19.4px;
  line-height: 1.75rem;
}

.footer-bottom {
  padding-top: 10px;
}

.footer-list__item a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-socials a {
  padding: 6px;
}

/* Footer css END
============================================================================================ */

/* Header style css ======================================= BEGINS ==================================== */
/* Media queries for the header and bg section */
#social-button-last {
  display: none;
}

.row-mob {
  justify-content: end;
}

@media only screen and (max-width: 100px) {
  .head_cont {
    background: url('../images/tab.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #header-to-go {
    display: none;
  }

  #social-button-last {
    display: block;
  }
}

/*container class prop for header*/

.container-fluid {
  width: 100%;
  height: 500px;
  min-height: 75vh;
}

.head_cont {
  /* The image used */
  background-image: url('../images/web.jpg');
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row-header-empty {
  height: 20vh;
}

.row-subscribe {
  height: 100%;
}

/*end of container class */
/* subscribe button css */

.row-subscribe .Subscribe p {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 130%;
  width: 100%;
}
.row-subscribe .Subscribe form input[type='text'] {
  padding: 3%;
  color: white;
  background-color: #2b2b2b;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.row-subscribe .Subscribe form input[type='text']::placeholder {
  color: white;
  font-size: 100%;
  opacity: 0.7;
}
.row-subscribe .Subscribe form input:focus {
  border: none;
  outline: none;
}
.row-subscribe .Subscribe form input[type='submit'] {
  width: 33%;
  padding: 3.6%;
  color: white;
  background-color: #252525;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  position: relative;
  left: -04px;
  top: -1.3px;
}

/* end of subscribe button css */

/* begin login form css */

.row-login .login-signup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.row-login .login-signup .inner {
  height: fit-content;
  background-color: rgba(19, 19, 19, 0.5);
  display: flex;
  align-content: space-around;
  flex-direction: column;
  margin-top: -30px;
}
.row-login .login-signup .inner .option {
  width: 100%;
  display: flex;
}
.row-login .login-signup .inner .option button {
  width: 80%;
  padding: 10px;
  border: none;
}
.row-login .login-signup .inner button.line {
  border-right: 2px solid white;
}
.row-login .login-signup .inner button a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}
.row-login .login-signup .inner button a.active {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.row-login .login-signup .inner button:focus {
  border: none;
  outline: none;
}
.row-login .login-signup .inner form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row-login .login-signup .inner form input[type='text'],
.row-login .login-signup .inner form input[type='password'] {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(1, 1, 1, 0.2);
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 3px -1px rgba(255, 255, 255, 1);
}
.row-login .login-signup .inner form input[type='submit'] {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}
.row-login .login-signup .inner form input:focus {
  border: none;
  outline: none;
}
.row-login .login-signup .inner form input[type='text']::placeholder,
.cont .login-signup .inner form input[type='password']::placeholder {
  color: white;
  font-size: 15px;
  opacity: 0.7;
}
.row-login .login-signup .inner a {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.row-login .login-signup .inner a:hover {
  text-decoration: underline;
}
.row-login .login-signup .inner .botm-option {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.row-login .login-signup .inner .botm-option button.line {
  border-right: 2px solid white;
}

.row-login .login-signup .inner .botm-option a {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.row-login .login-signup .inner .botm-option i {
  margin-left: 2px;
  font-size: 15px;
  color: rgb(36, 36, 105);
}
.row-login .login-signup .inner .botm-option i.mail {
  margin-left: 4px;
  font-size: 15px;
  color: rgb(177, 28, 28);
}
.row-login .login-signup .inner .botm-option button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #000303;
}
.placeColor input::placeholder{
  font-size: small;
  color: #000!important;
}

.placeColor input[type="Password"]::placeholder {
  font-size: 15px;
  font-weight: 500;
}

.emailSignup{
  background-color: rgb(192, 192, 192) !important;
  color: #000 !important;
  margin: 20px 0 0;
  padding:10px;
  width:90%;
}

/* end of login form css */


/* start of custom scrollbar */

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}

/* end of custom scrollbar */
